body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4, url(IMG_20230605_184003.jpg);
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.search-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.search-section input {
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-section button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
}

.weather-info {
    margin-top: 20px;
    background: #eee;
    padding: 15px;
    border-radius: 8px;
}

#weatherIcon {
    width: 80px;
}

#map {
    height: 300px;
    margin-top: 10px;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ddd;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

ul li:hover {
    background: #bbb;
}
